{% if U_USE_TABLES_BBCODE %}
<script>
	$('.tables1 br').remove();
	function toggle_buttons_table_selections() {
		if (document.getElementById('tables-button-selections').style.display === 'none') { document.getElementById('tables-button-selections').style.display = 'block';document.getElementById('tables-button-switch').title = '{L_TABLE_SELECTIONS_HIDE}'; }
		else { document.getElementById('tables-button-selections').style.display = 'none';document.getElementById('tables-button-guidelines').style.display = 'none';document.getElementById('tables-guidelines-show').style.display = 'block';document.getElementById('tables-button-switch').title = '{L_TABLE_SELECTIONS_SHOW}'; }
	}
	function toggle_pb_table_selections() {
		if (document.getElementById('tables-button-selections').style.display === 'none') { document.getElementById('tables-button-selections').style.display = 'block';document.getElementById('tables-pb-switch').title = '{L_TABLE_SELECTIONS_HIDE}'; }
		else { document.getElementById('tables-button-selections').style.display = 'none';document.getElementById('tables-button-guidelines').style.display = 'none';document.getElementById('tables-guidelines-show').style.display = 'block';document.getElementById('tables-pb-switch').title = '{L_TABLE_SELECTIONS_SHOW}'; }
	}
	function toggle_abbc3_table_selections() { 
		if (document.getElementById('tables-button-selections').style.display === 'none') { document.getElementById('tables-button-selections').style.display = 'block';document.getElementById('tables-abbc3-switch').title = '{L_TABLE_SELECTIONS_HIDE}'; } 
		else { document.getElementById('tables-button-selections').style.display = 'none';document.getElementById('tables-button-guidelines').style.display = 'none';document.getElementById('tables-guidelines-show').style.display = 'block';document.getElementById('tables-abbc3-switch').title = '{L_TABLE_SELECTIONS_SHOW}'; } 
	}
</script>
{% endif %}
