/* Tables bbCode Extension - aeroblack */

/* Table background color (optional) */
.tables1, h3.forabg { background-color: #D8D8D8; }
.tables1 img { vertical-align: middle; }
.tables1 i.fa-fw { cursor: pointer; }

/* Hiden selections block */
#tables-button-selections { width: 98%;display: none; }
#tables-button-guidelines a, #tables-guidelines-show a { cursor: pointer; }
.tables-list { padding: 6px;margin-bottom: 12px !important;border: 1px solid #444444;border-radius: 10px;box-shadow: 1px 1px 8px #555; }
.tables-list:hover { background-color: #FFFFFF;cursor: help; }
.upper_group, .lower_group { width: 65px;display: inline-block;wrap: wrap; }

/* Tables custom classes - Add all classes for every cell needed */
.null { }
.tleft { float: left;margin-right: 6px; }
.tright { float: right;margin-left: 6px; }
.tcenter { margin: 0 auto; }
.textleft { text-align: left; }
.textcenter { text-align: center; }
.textright { text-align: right; }

/* Classes for cell borders */
.btrbl { border-top: 1px solid #999;border-right: 1px solid #999;border-bottom: 1px solid #999;border-left: 1px solid #999; }
.btrb { border-top: 1px solid #999;border-right: 1px solid #999;border-bottom: 1px solid #999; }
.brbl { border-right: 1px solid #999;border-bottom: 1px solid #999;border-left: 1px solid #999; }
.brb { border-right: 1px solid #999;border-bottom: 1px solid #999; }
