/* Tables bbCode Extension  */
tr.null { background-color: transparent; }
.null { } 

/* Table background color (optional) */
.tbg { }
.tbg img { vertical-align: middle; }

/* Table alignments */
.tleft { float: left;margin-right: 6px; }
.tright { float: right;margin-left: 6px; }
.tcenter { margin: 6px auto; }

/* Table button image and selection icon image */
.table_img { background: url("images/table.gif");width: 20px;height: 20px; }
.table_icon { background: url("images/table_icon.gif");height: 8px;width: 8px;border: none; }

/* Hiden selections block */
#tables-button-selections, #tables-abbc3-selections, #tables-pb-selections { width: 80%;display: none; }
.upper_group { float: left;width: 59px;margin: 0 3px 0 0; }
.lower_group { float: left;width: 59px;margin: 0; }

/* Hiden guidelines block */
#tables-button-guidelines-button, #tables-abbc3-guidelines-button, #tables-pb-guidelines-button  { float: right;margin-bottom:4px; }
#tables-button-guidelines, #tables-abbc3-guidelines, #tables-pb-guidelines { margin-top: 6px; }
